/* Отключение масштабирования при помощи жестов */
html, body {
  height: 100%;
  margin: 0;
  touch-action: pan-x pan-y; /* можно скроллить, но нельзя pinch-zoom */
  overscroll-behavior: none; /* чтобы не было "резинок" и навигационных жестов */
}

/* Дополнительная защита от масштабирования */
* {
  touch-action: pan-x pan-y;
}

